In [16]:
import pandas as pd
import numpy as np

In [54]:
dataset = "citeseer"

In [55]:
df = pd.read_csv("{0}/{0}.content".format(dataset), sep='\t', header=None)

/home/ffrankies/.pyenv/versions/miniconda3-4.3.30/envs/graph/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [77]:
# Get dict of vertex ID -> 0-N ID
vertices = dict()
for index, vertex in enumerate(df[0]):
    vertices[str(vertex)] = index + 1
df['Vertex ID'] = df[0].astype(str).map(vertices)
df = df.sort_values('Vertex ID')
df.loc[df[0] == "kohrs99improving"]

,0,1,2,3,4,5,6,7,8,9,...,3697,3698,3699,3700,3701,3702,3703,3704,Vertex ID,Topic
670,kohrs99improving,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,IR,415,5

In [62]:
# Get dict of topic -> community ID
topics = dict()
topics_column = df.columns.size - 2  # Vertex ID is now df.columns.size - 1
for index, topic in enumerate(np.unique(df[topics_column])):
    topics[topic] = index + 1
df['Topic'] = df[topics_column].map(topics)
df

,0,1,2,3,4,5,6,7,8,9,...,3697,3698,3699,3700,3701,3702,3703,3704,Vertex ID,Topic
256,537581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,IR,1,5
257,539286,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,IR,2,5
258,540018,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Agents,3,2
259,540380,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,IR,4,5
260,540501,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Agents,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,462285,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,DB,3308,3
1276,464421,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,HCI,3309,4
1277,46840,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ML,3310,6
1278,470345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ML,3311,6
1279,470572,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,IR,3312,5

In [63]:
df[['Vertex ID', 'Topic']].to_csv("{0}/{0}_truePartition.tsv".format(dataset), header=False, index=False, sep='\t')

In [75]:
graph_df = pd.read_csv("{0}/{0}.cites".format(dataset), header=None, sep='\t')
graph_df["To"] = graph_df[0].astype(str).map(vertices)
graph_df["From"] = graph_df[1].astype(str).map(vertices)
for index, row in graph_df.iterrows():
    if row[0] not in vertices:
        print(row)
        
print(vertices["tobies99pspace"])

0       197556
1       282608
To         NaN
From      2856
Name: 231, dtype: object
0        38137
1       315153
To         NaN
From      2881
Name: 662, dtype: object
0                       95786
1       haarslev99description
To                        NaN
From                      336
Name: 1167, dtype: object
0         flach99database
1       flach99firstorder
To                    NaN
From                  290
Name: 2387, dtype: object
0       khardon99relational
1         cumby00relational
To                      NaN
From                    219
Name: 2975, dtype: object
0           kohrs99using
1       kohrs99improving
To                   NaN
From                 415
Name: 3050, dtype: object
0       raisamo99evaluating
1             cassell02mack
To                      NaN
From                    178
Name: 3904, dtype: object
0       raisamo99evaluating
1         stocky02conveying
To                      NaN
From                    660
Name: 3905, dtype: object
0         tobies99pspace
1       lutz99complexity
To                   NaN
From                 469
Name: 4428, dtype: object
0            weng95shoslifn
1       chen98learningbased
To                      NaN
From                    191
Name: 4545, dtype: object

KeyError: 'tobies99pspace'

In [53]:
graph_df[['From', 'To']].to_csv("{0}/{0}_graph.tsv".format(dataset), header=False, index=False, sep='\t')

In [46]:
df

,0,1,2,3,4,5,6,7,8,9,...,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704
0,100157,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Agents
1,100598,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,IR
2,105684,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Agents
3,11099,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,DB
4,114091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,zhang99query,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,DB
3308,zhang99situated,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ML
3309,zhang99towards,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,IR
3310,zhou00implementation,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,DB
3311,455346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ML